@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --window-height: 1080px;
}


body.plugin {
    padding: 0 16px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
}

.collapse-header {
    padding: 10px 20px 5px 30px !important;
}

.fontSelect {
    width: 200px !important;
    margin-right: 5px;
}

.fontSizeSelect {
    width: 70px !important;
    margin-right: 5px;
}

.input-full-width {
    width: 100% !important;

}

hr.solid {
    border-top: 1px solid var(--ring-borders-color);
    padding-bottom: 20px;
}

.preview {
    height: 590px;
    width: 100%;
}

.collapse-container {
    height: 740px;
    overflow-y: auto;
}

.infoIcon {
    color: var(--ring-icon-color);
}

.infoIcon:hover {
    color: #d671b3;
}

.link {
    cursor: pointer;
    color: var(--ring-link-color);
    text-underline-offset: 3px;
}

.link:hover {
    color: #d671b3;
    text-decoration: underline;
}

.link:active {
    color: white;
}

.loader-force-size {
    height: 740px !important;
    width: 400px !important;
}
